@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);

code {
	white-space: pre;
}
pre, code {
	background-color: #f7f7f7;
	border-radius: 3px;
	color: #333;
	white-space: pre-wrap;
}
pre {
	border-radius: 3px;
	margin: 5px 0px 10px 0px;
	padding: 10px;
}
code {
	font-family: Consolas, Monaco, "Courier New", monospace;
	font-size: 85%;
}
.sourceCode {
	overflow: visible;
}
pre.sourceCode {
	margin: 0;
}
div.sourceCode {
	margin: 1em 0;
}
/* @media screen */
div.sourceCode {
	overflow: auto;
}
body {
	background-color: #fff;
	margin: 1em auto;
	max-width: 1062;
	overflow: visible;
	padding-left: 2em;
	padding-right: 2em;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.35;
}
code {
	white-space: pre-wrap;
}
code.sourceCode {
	white-space: pre;
	position: relative;
}
code.sourceCode > span {
	display: inline-block;
	line-height: 1.25;
}
code.sourceCode > span {
	color: inherit;
	text-decoration: inherit;
}
a {
	color: #0033dd;
	text-decoration: none;
}
/* @media screen */
code.sourceCode > span > a:first-child::before {
	text-decoration: underline;
}
code span.kw {
	color: #007020;
	font-weight: bold;
}
code span.co {
	color: #60a0b0;
	font-style: italic;
}
code span.op {
	color: #666666;
}
code span.st {
	color: #4070a0;
}
code span.dt {
	color: #902000;
}
code span.dv {
	color: #40a070;
}
code span.cf {
	color: #007020;
	font-weight: bold;
}
code span.fl {
	color: #40a070;
}
body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:rgb(255, 255, 255);
  font-weight:900;
  background-color: #0d133b ;
  text-align: justify;
  text-justify: inter-word;
}
ffe4f1
bce2e8
h1, h2, h3, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:29px;
}

h2 {
  color:#FF5A09;
  font-size:99px;
  max-width:100%;
  margin:0 0 20px;

}

h3 {
  color:#FF5A09;
  font-size:18px;
  max-width:100%;
  
}

h3, h5, h6 {
  color:#494949;
  background-color: #0d133b;
}

h4 {
  font-size: 18px;
  font-family: 'raleway';
}

a {
  color:rgb(255, 255, 255);
  font-weight:400;
  text-decoration:none;
}
39c
a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:988px;
  margin:0 auto;
  background-color: #0d133b;
}



img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  background-color: #0d133b ;
}

.button {
  background-color:inherit;
  border:none;
  color:green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


section {
  width:669px;
  float:right;
  padding-bottom:25px;
  border-style: none;
}


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  background-color: #1d1145;
  text-align: center;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 70px;
  }
  h4{
    font-size: 14px;
  }
 .mesbox{
    visibility: hidden;
    
  }
}

@media screen and (max-width: 376px) {
  h2 {
    font-size: 60px;
  }
  h4{
    font-size: 14px;
  }
 .mesbox{
    visibility: hidden;
    
  }
}

@media screen and (max-width: 321px) {
  h2 {
    font-size: 50px;
  }
  h4{
    font-size: 11px;
  }
 .mesbox{
    visibility: hidden;
  }
}

  header {
    padding:0;
  }

  header ul, header p.fixed {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}


code { 
    background: #F1F1F1; 
}

pre {
    white-space: pre-wrap;
    background: #F1F1F1;
}
.white {
  color: rgb(252, 252, 252);
}

.orange-bg {
  background:#FF5A09 ;
}


a.changecolor:hover, a.changecolor:active {
  color: #FF5A09;
}


.fa {
  padding: 15px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.99;
  color: #FF5A09;
}

.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 592px; /* half of limiter */
    margin: 0 0px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}



.container {
  margin-top: 7px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  top: 31em;
  bottom: auto;
  left: auto;
  right: 25px;
  height: 110mm;
  width: 55mm;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/*header button*/
.hb{ 
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin-bottom: 0em;
  margin-top: 0em;
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
  background-color: #009926;
  border-color: #0f0f10;
  color: #ffffff;
  width: inherit;
  position: absolute;
  margin: 0em;
  top: 0em;
  left: 0em;
  right: 0em;
  padding:  0.75em 1.099em;
  background: rgb(255, 0, 0);
  border: 1px rgb(128, 128, 128);
  cursor: default;
  line-height: 1;
  text-transform: none;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  text-decoration: none;
  box-sizing: inherit;
}

.divider{
    margin: 1rem 0rem;
    line-height: 1;
    height: 0em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 2em;
    border-color: transparent;
    font-size: 1rem;
    box-sizing: inherit;
}


.logbox {
  background-color: #0d133b;
  top: 27em;
  right: 80.5em;
  height: 22px;
  width: 34px;
  position: static;
  z-index: -1;
  display: inline-block;
  overflow: hidden;

}


.mesbox {
  background-color:gold;
  padding: 5px;
  top: 60em;
  bottom: auto;
  left: auto;
  right: 25px;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  

}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #FF5A09;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF5A09 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.container .butbox {
  background-color: #f2f2f2;
  padding: 5px;
  padding-bottom: 15px;
  top: 60em;
  bottom: auto;
  left: auto;
  right: 15px;
  cursor: auto;
  width: 100%;
}

.container .btn{
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  padding-right: 15.19px;
  padding-left: 15.19px;
  top: 60em;
  bottom: auto;
  left: auto;
  right: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  float: left;
  size: auto;
}

.container .btnc{
  background-color: red;
  color: white;
  padding: 10px;
  top: 60em;
  bottom: auto;
  left: auto;
  right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  float: right;
}

.changecolor .current {
  color: #ff0028   ;
}

.pic {
  position:static;
  width: 270;
  height: 270;
}


/*ec7f37
  be4f0c

&#127801 &#127799 &#127794 &#127796 &#127803 */
